In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler

In [2]:
torch.cuda.is_available()

True

In [3]:
df = pd.read_csv("../data/diabetes_prediction_dataset.csv")
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

## 이산 데이터의 Normalization값 구하기 (DataAnalysis.ipynb 참조)

In [4]:
df_gender = df[["gender", "diabetes"]]
df_gender_diabetes = df_gender[df_gender["diabetes"] == 1]

# 0인덱스는 female, 1인덱스는 male
gender_total = [df["gender"].value_counts().loc["Female"], df["gender"].value_counts().loc["Male"]]
gender_diabetes = [df_gender_diabetes["gender"].value_counts().loc["Female"], df_gender_diabetes["gender"].value_counts().loc["Male"]]
gender_isdiabetes = pd.DataFrame(data=[gender_total, gender_diabetes], index=["total", "diabetes"], columns=["Female", "Male"])
gender_isdiabetes

gender_isdiabetes_np = gender_isdiabetes.to_numpy()
gender_diabetes_ratio = gender_isdiabetes_np[1]/gender_isdiabetes_np[0]

print(gender_diabetes_ratio)

list1 = [gender_diabetes_ratio[0]/gender_diabetes_ratio.sum(), gender_diabetes_ratio[1]/gender_diabetes_ratio.sum()]
gender_diabetes_ratio_normalized = np.array(list1)
gender_diabetes_ratio_normalized

[0.07618869 0.09748974]

array([0.43867674, 0.56132326])

In [5]:
df_hyper_diabetes = df[["hypertension", "diabetes"]]
df_hyper_diabetes = df_hyper_diabetes[df_hyper_diabetes["diabetes"] == 1]

hyper_total = [df["hypertension"].value_counts().loc[0], df["hypertension"].value_counts().loc[1]]
hyper_diabetes = [df_hyper_diabetes["hypertension"].value_counts().loc[0], df_hyper_diabetes["hypertension"].value_counts().loc[1]]
hyper_isdiabetes = pd.DataFrame(data=[hyper_total, hyper_diabetes], index=["total", "diabetes"], columns=["NOhyper", "Yeshyper"])
hyper_isdiabetes

hyper_isdiabetes_np = hyper_isdiabetes.to_numpy()
hyper_diabetes_ratio = hyper_isdiabetes_np[1]/hyper_isdiabetes_np[0]

print(hyper_diabetes_ratio)

list1 = [hyper_diabetes_ratio[0]/hyper_diabetes_ratio.sum(), hyper_diabetes_ratio[1]/hyper_diabetes_ratio.sum()]
hyper_diabetes_ratio_normalized = np.array(list1)
hyper_diabetes_ratio_normalized

[0.06930768 0.27895792]

array([0.19900812, 0.80099188])

In [6]:
df_disease_diabetes = df[["heart_disease", "diabetes"]]
df_disease_diabetes = df_disease_diabetes[df_disease_diabetes["diabetes"] == 1]

disease_total = [df["heart_disease"].value_counts().loc[0], df["heart_disease"].value_counts().loc[1]]
disease_diabetes = [df_disease_diabetes["heart_disease"].value_counts().loc[0], df_disease_diabetes["heart_disease"].value_counts().loc[1]]
disease_isdiabetes = pd.DataFrame(data=[disease_total, disease_diabetes], index=["total", "diabetes"], columns=["NOdisease", "Yesdisease"])
disease_isdiabetes

disease_isdiabetes_np = disease_isdiabetes.to_numpy()
disease_diabetes_ratio = disease_isdiabetes_np[1]/disease_isdiabetes_np[0]

print(disease_diabetes_ratio)

list1 = [disease_diabetes_ratio[0]/disease_diabetes_ratio.sum(), disease_diabetes_ratio[1]/disease_diabetes_ratio.sum()]
disease_diabetes_ratio_normalized = np.array(list1)
disease_diabetes_ratio_normalized

[0.07529826 0.32141045]

array([0.18980742, 0.81019258])

In [7]:
df_smoking_diabetes = df[["smoking_history", "diabetes"]]
df_smoking_diabetes = df_smoking_diabetes[df_smoking_diabetes["diabetes"] == 1]
smoking_total = [
    df["smoking_history"].value_counts().loc["never"],
    df["smoking_history"].value_counts().loc["current"],
    df["smoking_history"].value_counts().loc["former"],
    df["smoking_history"].value_counts().loc["ever"],
    df["smoking_history"].value_counts().loc["not current"]
]
smoking_diabetes = [
    df_smoking_diabetes["smoking_history"].value_counts().loc["never"],
    df_smoking_diabetes["smoking_history"].value_counts().loc["current"],
    df_smoking_diabetes["smoking_history"].value_counts().loc["former"],
    df_smoking_diabetes["smoking_history"].value_counts().loc["ever"],
    df_smoking_diabetes["smoking_history"].value_counts().loc["not current"]
]
smoking_isdiabetes = pd.DataFrame(data=[smoking_total, smoking_diabetes], index=["total", "diabetes"], \
                                  columns=["never", "current", "former", "ever", "not current"])
smoking_isdiabetes

smoking_isdiabetes_np = smoking_isdiabetes.to_numpy()
smoking_diabetes_ratio = smoking_isdiabetes_np[1]/smoking_isdiabetes_np[0]

print(smoking_diabetes_ratio)

list1 = [smoking_diabetes_ratio[0]/smoking_diabetes_ratio.sum(),
         smoking_diabetes_ratio[1]/smoking_diabetes_ratio.sum(),
         smoking_diabetes_ratio[2]/smoking_diabetes_ratio.sum(),
         smoking_diabetes_ratio[3]/smoking_diabetes_ratio.sum(),
         smoking_diabetes_ratio[4]/smoking_diabetes_ratio.sum()
        ]
smoking_diabetes_ratio_normalized = np.array(list1)
smoking_diabetes_ratio_normalized

[0.09534122 0.10208917 0.17001711 0.11788212 0.10702652]

array([0.16095253, 0.17234424, 0.2870184 , 0.19900548, 0.18067935])

## 변수의 이름은 OOO_diabetes_ratio_normalized 이다

------------------

## bmi의 이상치 값들을 평균 + 5*std로 제한한다.
#### DOI 10.1109/TII.2017.2785963

In [8]:
bmi_mean = df["bmi"].mean()
bmi_std = df["bmi"].std()

print(df["bmi"].min())
print(df["bmi"].max())

for idx in range(df.size // 9):
    if df.loc[idx, "bmi"] > (bmi_mean + 5*bmi_std):
        df.loc[idx, "bmi"] = (bmi_mean + 5*bmi_std)

print(df["bmi"].min())
print(df["bmi"].max())

10.01
95.69
10.01
60.50468418324185

## age, bmi에 대해 먼저 MinMaxScaler를 적용한다.

In [9]:
scaler = MinMaxScaler()
columns_to_scale = ["age", "bmi"]
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,1.000000,0,1,never,0.300626,6.6,140,0
1,Female,0.674675,0,0,No Info,0.342808,6.6,80,0
2,Male,0.349349,0,0,never,0.342808,5.7,158,0
3,Female,0.449449,0,0,current,0.266167,5.0,155,0
4,Male,0.949950,1,1,current,0.200615,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,1.000000,0,0,No Info,0.342808,6.2,90,0
99996,Female,0.024024,0,0,No Info,0.145758,6.5,100,0
99997,Male,0.824825,0,0,former,0.352908,5.7,155,0
99998,Female,0.299299,0,0,never,0.503221,4.0,100,0
99999,Female,0.712212,0,0,current,0.245966,6.6,90,0

## HbA1c와 glucose는 시그모이드 함수를 이용해 Normalization한다

In [10]:
def sigmoid_HbA1c(x):
    return 1 / (1 + np.exp(-5*(x - 6.5)))

def sigmoid_glucose(x):
    return 1 / (1 + np.exp(-0.2*(x - 200)))

In [11]:
idx = 0
for data in df.iterrows():
    df.loc[idx, "HbA1c_level"] = sigmoid_HbA1c(df.loc[idx, "HbA1c_level"])
    df.loc[idx, "blood_glucose_level"] = sigmoid_glucose(df.loc[idx, "blood_glucose_level"])
    idx += 1

print(idx)
df

C:\Users\embed\AppData\Local\Temp\ipykernel_9624\2296062435.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '6.144174602214718e-06' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[idx, "blood_glucose_level"] = sigmoid_glucose(df.loc[idx, "blood_glucose_level"])

100000

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,1.000000,0,1,never,0.300626,0.622459,6.144175e-06,0
1,Female,0.674675,0,0,No Info,0.342808,0.622459,3.775135e-11,0
2,Male,0.349349,0,0,never,0.342808,0.017986,2.248168e-04,0
3,Female,0.449449,0,0,current,0.266167,0.000553,1.233946e-04,0
4,Male,0.949950,1,1,current,0.200615,0.000203,1.233946e-04,0
...,...,...,...,...,...,...,...,...,...
99995,Female,1.000000,0,0,No Info,0.342808,0.182426,2.789468e-10,0
99996,Female,0.024024,0,0,No Info,0.145758,0.500000,2.061154e-09,0
99997,Male,0.824825,0,0,former,0.352908,0.017986,1.233946e-04,0
99998,Female,0.299299,0,0,never,0.503221,0.000004,2.061154e-09,0
99999,Female,0.712212,0,0,current,0.245966,0.622459,2.789468e-10,0

## hypertension과 heart_disease를 normalization값으로 치환한다

In [12]:
idx = 0
for data in df.iterrows():
    if data[1]["hypertension"] == 0:
        df.loc[idx, "hypertension"] = hyper_diabetes_ratio_normalized[0]
    elif data[1]["hypertension"] == 1:
        df.loc[idx, "hypertension"] = hyper_diabetes_ratio_normalized[1]
    
    if data[1]["heart_disease"] == 0:
        df.loc[idx, "heart_disease"] = disease_diabetes_ratio_normalized[0]
    elif data[1]["heart_disease"] == 1:
        df.loc[idx, "heart_disease"] = disease_diabetes_ratio_normalized[1]
    idx += 1

df

C:\Users\embed\AppData\Local\Temp\ipykernel_9624\3911035338.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.1990081153519949' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[idx, "hypertension"] = hyper_diabetes_ratio_normalized[0]
C:\Users\embed\AppData\Local\Temp\ipykernel_9624\3911035338.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.8101925780225551' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[idx, "heart_disease"] = disease_diabetes_ratio_normalized[1]

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,1.000000,0.199008,0.810193,never,0.300626,0.622459,6.144175e-06,0
1,Female,0.674675,0.199008,0.189807,No Info,0.342808,0.622459,3.775135e-11,0
2,Male,0.349349,0.199008,0.189807,never,0.342808,0.017986,2.248168e-04,0
3,Female,0.449449,0.199008,0.189807,current,0.266167,0.000553,1.233946e-04,0
4,Male,0.949950,0.800992,0.810193,current,0.200615,0.000203,1.233946e-04,0
...,...,...,...,...,...,...,...,...,...
99995,Female,1.000000,0.199008,0.189807,No Info,0.342808,0.182426,2.789468e-10,0
99996,Female,0.024024,0.199008,0.189807,No Info,0.145758,0.500000,2.061154e-09,0
99997,Male,0.824825,0.199008,0.189807,former,0.352908,0.017986,1.233946e-04,0
99998,Female,0.299299,0.199008,0.189807,never,0.503221,0.000004,2.061154e-09,0
99999,Female,0.712212,0.199008,0.189807,current,0.245966,0.622459,2.789468e-10,0

## 성별이 Other인 사람의 특징을 조사하자

In [13]:
df_other = df[df["gender"] == "Other"]
df_other

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
12669,Other,0.124124,0.199008,0.189807,not current,0.080801,5.527786e-04,6.144175e-06,0
14838,Other,0.236737,0.199008,0.189807,No Info,0.342808,1.798621e-02,2.248168e-04,0
16702,Other,0.486987,0.199008,0.189807,not current,0.420440,1.824255e-01,1.026188e-10,0
18691,Other,0.124124,0.199008,0.189807,not current,0.130311,1.192029e-01,3.353501e-04,0
23266,Other,0.286787,0.199008,0.189807,No Info,0.281614,1.192029e-01,6.144175e-06,0
31985,Other,0.662162,0.199008,0.189807,No Info,0.342808,6.224593e-01,3.353501e-04,0
33805,Other,0.562062,0.199008,0.189807,never,0.342808,3.726639e-06,2.745782e-04,0
34929,Other,0.587087,0.199008,0.189807,never,0.529759,6.224593e-01,2.789468e-10,0
35006,Other,0.587087,0.199008,0.189807,never,0.529759,3.059022e-07,5.000000e-01,0
40337,Other,0.224224,0.199008,0.189807,not current,0.399646,1.192029e-01,2.789468e-10,0
56238,Other,0.124124,0.199008,0.189807,not current,0.192892,1.192029e-01,3.736298e-07,0
66595,Other,0.687187,0.199008,0.189807,No Info,0.342808,5.527786e-04,2.248168e-04,0
66887,Other,0.236737,0.199008,0.189807,No Info,0.342808,3.059022e-07,3.353501e-04,0
67204,Other,0.086587,0.199008,0.189807,No Info,0.342808,3.059022e-07,2.745782e-04,0
68484,Other,0.649650,0.199008,0.189807,not current,0.428164,6.224593e-01,2.745782e-04,0
71139,Other,0.349349,0.199008,0.189807,ever,0.342808,4.539787e-05,3.736298e-07,0
75302,Other,0.324324,0.199008,0.189807,not current,0.544216,7.585818e-02,3.775135e-11,0
75734,Other,0.299299,0.199008,0.189807,not current,0.254482,1.824255e-01,3.353501e-04,0

## diabetes가 단 한명도 없기 때문에 Other가 diabetes에 얼마나 영향을 끼치는지 알 수 없다.
## 따라서 diabetes와 gender를 제외한 나머지 feature들로 KNN을 수행하여 Other를 Female이나 Male로 끼워 넣는다.

In [14]:
from sklearn.neighbors import KNeighborsClassifier

df_not_other = df[df["gender"] != "Other"]
x_gender = df_not_other[["age", "bmi", "HbA1c_level", "blood_glucose_level"]]
y_gender = df_not_other["gender"]

neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x_gender, y_gender)

KNeighborsClassifier(n_neighbors=3)

In [15]:
x_predict_gender = df_other[["age", "bmi", "HbA1c_level", "blood_glucose_level"]]
y_predict_gender = neigh.predict(x_predict_gender)
y_predict_gender

array(['Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female',
       'Male', 'Female', 'Female', 'Female'], dtype=object)

In [16]:
predict_idx = 0
for data in df.iterrows():
    if data[1]["gender"] == "Other":
        print("Other!")
        df.loc[data[0], "gender"] = y_predict_gender[predict_idx]
        
        predict_idx += 1

Other!
Other!
Other!
Other!
Other!
Other!
Other!
Other!
Other!
Other!
Other!
Other!
Other!
Other!
Other!
Other!
Other!
Other!

In [17]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,1.000000,0.199008,0.810193,never,0.300626,0.622459,6.144175e-06,0
1,Female,0.674675,0.199008,0.189807,No Info,0.342808,0.622459,3.775135e-11,0
2,Male,0.349349,0.199008,0.189807,never,0.342808,0.017986,2.248168e-04,0
3,Female,0.449449,0.199008,0.189807,current,0.266167,0.000553,1.233946e-04,0
4,Male,0.949950,0.800992,0.810193,current,0.200615,0.000203,1.233946e-04,0
...,...,...,...,...,...,...,...,...,...
99995,Female,1.000000,0.199008,0.189807,No Info,0.342808,0.182426,2.789468e-10,0
99996,Female,0.024024,0.199008,0.189807,No Info,0.145758,0.500000,2.061154e-09,0
99997,Male,0.824825,0.199008,0.189807,former,0.352908,0.017986,1.233946e-04,0
99998,Female,0.299299,0.199008,0.189807,never,0.503221,0.000004,2.061154e-09,0
99999,Female,0.712212,0.199008,0.189807,current,0.245966,0.622459,2.789468e-10,0

In [18]:
df["gender"].unique()

array(['Female', 'Male'], dtype=object)

#### Other이 전부 Male이나 Female 그룹 중 하나에 속한 것을 알 수 있다

## No Info에 대해서도 동일하게 수행한다.

In [19]:
df_info = df[df["smoking_history"] != "No Info"]
x_smoking = df_info[["age", "bmi", "HbA1c_level", "blood_glucose_level"]]
y_smoking = df_info["smoking_history"]

neigh2 = KNeighborsClassifier(n_neighbors=3)
neigh2.fit(x_smoking, y_smoking)

KNeighborsClassifier(n_neighbors=3)

In [20]:
df_noinfo = df[df["smoking_history"] == "No Info"]

x_predict_smoking = df_noinfo[["age", "bmi", "HbA1c_level", "blood_glucose_level"]]
y_predict_smoking = neigh2.predict(x_predict_smoking)
y_predict_smoking[0:100]

array(['ever', 'ever', 'never', 'never', 'never', 'never', 'never',
       'never', 'current', 'never', 'never', 'never', 'ever', 'never',
       'never', 'never', 'ever', 'never', 'never', 'never', 'never',
       'not current', 'never', 'never', 'never', 'current', 'never',
       'never', 'never', 'former', 'never', 'never', 'never', 'never',
       'current', 'never', 'never', 'never', 'ever', 'never', 'current',
       'never', 'never', 'not current', 'never', 'never', 'current',
       'never', 'never', 'never', 'never', 'never', 'never', 'ever',
       'current', 'ever', 'current', 'current', 'not current', 'former',
       'never', 'not current', 'ever', 'ever', 'never', 'never', 'never',
       'never', 'never', 'never', 'current', 'never', 'current',
       'current', 'never', 'never', 'never', 'never', 'former', 'never',
       'never', 'never', 'former', 'never', 'never', 'never',
       'not current', 'never', 'never', 'never', 'never', 'never',
       'not current', 'never', 'not current', 'never', 'never', 'former',
       'never', 'never'], dtype=object)

In [21]:
predict_idx = 0
for data in df.iterrows():
    if data[1]["smoking_history"] == "No Info":
        df.loc[data[0], "smoking_history"] = y_predict_smoking[predict_idx]
        
        predict_idx += 1

print(predict_idx)

35816

In [22]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,1.000000,0.199008,0.810193,never,0.300626,0.622459,6.144175e-06,0
1,Female,0.674675,0.199008,0.189807,ever,0.342808,0.622459,3.775135e-11,0
2,Male,0.349349,0.199008,0.189807,never,0.342808,0.017986,2.248168e-04,0
3,Female,0.449449,0.199008,0.189807,current,0.266167,0.000553,1.233946e-04,0
4,Male,0.949950,0.800992,0.810193,current,0.200615,0.000203,1.233946e-04,0
...,...,...,...,...,...,...,...,...,...
99995,Female,1.000000,0.199008,0.189807,never,0.342808,0.182426,2.789468e-10,0
99996,Female,0.024024,0.199008,0.189807,never,0.145758,0.500000,2.061154e-09,0
99997,Male,0.824825,0.199008,0.189807,former,0.352908,0.017986,1.233946e-04,0
99998,Female,0.299299,0.199008,0.189807,never,0.503221,0.000004,2.061154e-09,0
99999,Female,0.712212,0.199008,0.189807,current,0.245966,0.622459,2.789468e-10,0

In [23]:
df["smoking_history"].unique()

array(['never', 'ever', 'current', 'former', 'not current'], dtype=object)

#### No Info가 전부 바뀌어 있는 것을 확인할 수 있다.

## gender와 smoking_history를 숫자로 바꾼다. 이 때 normalization 값으로 바꾼다.

In [24]:
for data in df.iterrows():
    if data[1]["gender"] == "Female":
        df.loc[data[0], "gender"] = gender_diabetes_ratio_normalized[0]
    elif data[1]["gender"] == "Male":
        df.loc[data[0], "gender"] = gender_diabetes_ratio_normalized[1]

    # columns=["never", "current", "former", "ever", "not current"]
    
    if data[1]["smoking_history"] == "never":
        df.loc[data[0], "smoking_history"] = smoking_diabetes_ratio_normalized[0]
    elif data[1]["smoking_history"] == "current":
        df.loc[data[0], "smoking_history"] = smoking_diabetes_ratio_normalized[1]
    elif data[1]["smoking_history"] == "former":
        df.loc[data[0], "smoking_history"] = smoking_diabetes_ratio_normalized[2]
    elif data[1]["smoking_history"] == "ever":
        df.loc[data[0], "smoking_history"] = smoking_diabetes_ratio_normalized[3]
    elif data[1]["smoking_history"] == "not current":
        df.loc[data[0], "smoking_history"] = smoking_diabetes_ratio_normalized[4]

    if data[0] % 10000 == 0:
        print("Present data[0] is "+str(data[0])+"...")

df

Present data[0] is 0...
Present data[0] is 10000...
Present data[0] is 20000...
Present data[0] is 30000...
Present data[0] is 40000...
Present data[0] is 50000...
Present data[0] is 60000...
Present data[0] is 70000...
Present data[0] is 80000...
Present data[0] is 90000...

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0.438677,1.000000,0.199008,0.810193,0.160953,0.300626,0.622459,6.144175e-06,0
1,0.438677,0.674675,0.199008,0.189807,0.199005,0.342808,0.622459,3.775135e-11,0
2,0.561323,0.349349,0.199008,0.189807,0.160953,0.342808,0.017986,2.248168e-04,0
3,0.438677,0.449449,0.199008,0.189807,0.172344,0.266167,0.000553,1.233946e-04,0
4,0.561323,0.949950,0.800992,0.810193,0.172344,0.200615,0.000203,1.233946e-04,0
...,...,...,...,...,...,...,...,...,...
99995,0.438677,1.000000,0.199008,0.189807,0.160953,0.342808,0.182426,2.789468e-10,0
99996,0.438677,0.024024,0.199008,0.189807,0.160953,0.145758,0.500000,2.061154e-09,0
99997,0.561323,0.824825,0.199008,0.189807,0.287018,0.352908,0.017986,1.233946e-04,0
99998,0.438677,0.299299,0.199008,0.189807,0.160953,0.503221,0.000004,2.061154e-09,0
99999,0.438677,0.712212,0.199008,0.189807,0.172344,0.245966,0.622459,2.789468e-10,0

## 전처리된 df를 저장한다.

In [25]:
df.to_csv("../data/diabetes_prediction_dataset_preprocessed.csv", index=False)